@model WaterServices.Models.WaterData

@{
    ViewData["Title"] = "River Data";
}

<h2>River Data</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GageHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Discharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.GageHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Temp)
            </td>
        </tr>
    </tbody>
</table>
